<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>

    <meta charset="utf-8"></meta>
    <title>SCAP - Sistema de Controle de Afastamento de Professores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Sistema de Afastamento de Professores"></meta>
    <meta name="author" content="Bruno Borlini Duarte"></meta>
    
    <!-- styles -->
    <link href="bootstrap_files/bootstrap.css" rel="stylesheet"></link>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="bootstrap_files/bootstrap-responsive.css" rel="stylesheet"></link>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
</h:head>
<h:body>

<ui:include src="header.xhtml" /> 

<div class="container">

      <div class="hero-unit">
       <h:form id="frmCadastrarPessoa">
        	
			Nome:*
			<p:inputText id="txtbox_nome" value="#{CadastroPessoaFormBean.nome}" required="true" >
				<f:validateLength minimum="2" />
			</p:inputText><br />
				
			Matricula:* 
			<p:inputText id="txtbox_matricula" label="Matricula" value="#{CadastroPessoaFormBean.matricula}" required="true" >
				<f:validateLength minimum="2" />
			</p:inputText><br />
				
			E-mail:*
			<p:inputText id="txtbox_email" label="Email" value="#{CadastroPessoaFormBean.email}" required="true" >
				<f:validateLength minimum="2" />
			</p:inputText><br />
				
			Password:*
			<p:password id="password" label="Password" value="#{CadastroPessoaFormBean.password}" required="true" feedback="true" inline="true">
				<f:validateLength minimum="2" />
			</p:password><br />
				
			Repetir Password:*
			<p:password id="repetirPassword" label="Password" value="#{CadastroPessoaFormBean.repetirPassword}" required="true">
				<f:validateLength minimum="2" />
			</p:password><br />
				
			Função:
			<p:selectOneMenu id="combobox_funcao" value="#{CadastroPessoaFormBean.tpPessoa}" required="true" >
				<f:selectItem itemLabel="Selecione" itemValue="0" />            	 
            	 <f:selectItem itemLabel="Professor" itemValue="1" />
            	 <f:selectItem itemLabel="Secretaria" itemValue="2" />            
        	</p:selectOneMenu><br />
			
			<p:commandButton id="btn_cadastrar" actionListener="#{CadastroPessoaFormBean.onbtnCadastrar}"  value="Cadastrar" icon="ui-icon-check" process="@all"  styleClass="ui-priority-primary" ajax="false" />
			
			<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
		</h:form>      																														
      </div>
      
</div> <!-- /container -->

    <!--javascript -->    
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="bootstrap_files/jquery.js"></script> --> 
    <script src="bootstrap_files/bootstrap-transition.js"></script>
    <script src="bootstrap_files/bootstrap-alert.js"></script>
    <script src="bootstrap_files/bootstrap-modal.js"></script>
    <script src="bootstrap_files/bootstrap-dropdown.js"></script>
    <script src="bootstrap_files/bootstrap-scrollspy.js"></script>
    <script src="bootstrap_files/bootstrap-tab.js"></script>
    <script src="bootstrap_files/bootstrap-tooltip.js"></script>
    <script src="bootstrap_files/bootstrap-popover.js"></script>
    <script src="bootstrap_files/bootstrap-button.js"></script>
    <script src="bootstrap_files/bootstrap-collapse.js"></script>
    <script src="bootstrap_files/bootstrap-carousel.js"></script>
    <script src="bootstrap_files/bootstrap-typeahead.js"></script>
    
    </h:body>
</html>
