<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>

    <meta charset="utf-8"></meta>
    <title>SCAP - Sistema de Controle de Afastamento de Professores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Sistema de Afastamento de Professores"></meta>
    <meta name="author" content="Bruno Borlini Duarte"></meta>

    <!-- Le styles -->
    <link href="bootstrap_files/bootstrap.css" rel="stylesheet"> </link>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    <link href="bootstrap_files/bootstrap-responsive.css" rel="stylesheet"> </link>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    
      
</h:head>
<h:body>

	<div class="hero-unit" align="center">
	
	  

      <h:form id="logarform">
      	<p:panelGrid columns="2">  
   			 <f:facet name="header">  
        		SCAP - Sistema de Controle de Afastamento de Professores
    		</f:facet>  
  
    		<!--<h:outputLabel for="Matricula" value="Matricula:"  /> --> 
    		Matrícula:<p:inputText id="matricula" label="Matricula" value="#{LoginBean.pessoa.matricula}" />  
  
    		<!--<h:outputLabel for="password" value="Password:" /> -->
    		Password:<p:password id="password" label="Password" value="#{LoginBean.pessoa.password}"/>  
  
    		<f:facet name="footer">  
        		  <p:commandButton actionListener="#{LoginBean.onbtnEntrar}" value="Entrar" icon="ui-icon-check" process="@all"  styleClass="ui-priority-primary" /> 
    			  		  	
    		</f:facet> 
    		
		</p:panelGrid>
		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />									 
       

        
      <!--  <label class="checkbox">
          <input value="remember-me" type="checkbox"> Remember me
        </label> -->

     </h:form>

    </div> <!-- /container -->

    <!-- javascript -->
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--  <script src="bootstrap_files/jquery.js"></script>
    <script src="bootstrap_files/bootstrap-transition.js"></script>
    <script src="bootstrap_files/bootstrap-alert.js"></script>
    <script src="bootstrap_files/bootstrap-modal.js"></script>
    <script src="bootstrap_files/bootstrap-dropdown.js"></script>
    <script src="bootstrap_files/bootstrap-scrollspy.js"></script>
    <script src="bootstrap_files/bootstrap-tab.js"></script>
    <script src="bootstrap_files/bootstrap-tooltip.js"></script>
    <script src="bootstrap_files/bootstrap-popover.js"></script>
    <script src="bootstrap_files/bootstrap-button.js"></script>
    <script src="bootstrap_files/bootstrap-collapse.js"></script>
    <script src="bootstrap_files/bootstrap-carousel.js"></script>
    <script src="bootstrap_files/bootstrap-typeahead.js"></script>-->
 

</h:body>
</html>